@tailwind base;
@tailwind components;
@tailwind utilities;


body { 
    background: #fff;
    height: 100vh;
 }

/**** PRELOADER STYLES ****/

figure { 
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 6.250em; height: 6.250em;
  animation: rotate 2.4s linear infinite;
}
.white { 
  top: 0; bottom: 0; left: 0; right: 0; 
  background: white; 
  animation: flash 2.4s linear infinite;
  opacity: 0;
}
.dot {
  position: absolute;
  margin: auto;
  width: 2.4em; height: 2.4em;
  border-radius: 100%;
  transition: all 1s ease;
}
.dot:nth-child(2) { top: 0; bottom: 0; left: 0; background: orange; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(3) { left: 0; right: 0; top: 0; background: orange; animation: dotsX 2.4s linear infinite; }
.dot:nth-child(4) { top: 0; bottom: 0; right: 0; background: orange; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(5) { left: 0; right: 0; bottom: 0; background: orange; animation: dotsX 2.4s linear infinite; }

@keyframes rotate {
  0% { transform: rotate( 0 ); }
  10% { width: 6.250em; height: 6.250em; }
  66% { width: 2.4em; height: 2.4em; }
  100%{ transform: rotate(360deg); width: 6.250em; height: 6.250em; }
}

@keyframes dotsY {
  66% { opacity: .1; width: 2.4em; }
  77%{ opacity: 1; width: 0; }
}
@keyframes dotsX {
  66% { opacity: .1; height: 2.4em;}
  77%{ opacity: 1; height: 0; }
}

@keyframes flash {
  33% { opacity: 0; border-radius: 0%; }
  55%{ opacity: .6; border-radius: 100%; }
  66%{ opacity: 0; }
}

.content {
    display: none;
}

/*** END OF PRELOADER STYLES ***/

/****TOP BAR ****/

.selected-language {
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

.language-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
    width: 100px;
}

.language-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-list li:hover {
    background-color: #eee;
    border-radius: 5px;
}

/****** NAVIGATION STYLES ****/

.search-box {
    display: none;
    align-items: center;
}

#searchInput {
    padding: 8px;
    margin-right: 5px;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
}

#searchBtn, #closeBtn {
    color: #000;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#closeBtn {
    display: none;
}

@media (max-width: 480px) {
    #searchInput {
        padding: 5px;
    }
}


.rotated {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}
#menu{
  background-color: #fff;
  z-index: 10;
}
.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position:absolute;
  right: 20px;

}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle{
  transform: translateY(7px);
}
.hamburger-bottom{
  transform: translateY(14px);
}
.open{
  transform:rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
  display: none;
}
.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}



/***  END OF NAVIGATION ***/


/*** FLASH SALES ***/


.flash-img{
  width: 300px;
  height: 200px;
  display: flex;
  margin: 0px auto;
}
.flash-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flash-img2{
  width: 300px;
  height: 200px;
  display: flex;
  margin: 0px auto;
}
.flash-img2 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 480px) {
  .flash-img, .flash-img2{
    width: 150px;
    height: 110px;
  }
}

/* END OF FLASH SALES */

/* TOP SELLERS */
.brand-carousel {
  margin-top: 30px;
  }


  .price-progress-meter {
    width: 100%;
    height: 6px;
    position: relative;
    background-color: #e3e3e3;
    border-radius: 6px;
  }
  
  .price-progress-meter .bar {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: orange;
    border-radius: 6px;
    transition: width 0.3s linear;
    cursor: pointer;
  }
  .tooltip {
    position: absolute;
    top: -30px; /* Adjust distance from the bar as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: orange;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
}