@tailwind base;
@tailwind components;
@tailwind utilities;


body { background: #fff; }

/**** PRELOADER STYLES ****/

figure { 
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 6.250em; height: 6.250em;
  animation: rotate 2.4s linear infinite;
}
.white { 
  top: 0; bottom: 0; left: 0; right: 0; 
  background: white; 
  animation: flash 2.4s linear infinite;
  opacity: 0;
}
.dot {
  position: absolute;
  margin: auto;
  width: 2.4em; height: 2.4em;
  border-radius: 100%;
  transition: all 1s ease;
}
.dot:nth-child(2) { top: 0; bottom: 0; left: 0; background: orange; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(3) { left: 0; right: 0; top: 0; background: orange; animation: dotsX 2.4s linear infinite; }
.dot:nth-child(4) { top: 0; bottom: 0; right: 0; background: orange; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(5) { left: 0; right: 0; bottom: 0; background: orange; animation: dotsX 2.4s linear infinite; }

@keyframes rotate {
  0% { transform: rotate( 0 ); }
  10% { width: 6.250em; height: 6.250em; }
  66% { width: 2.4em; height: 2.4em; }
  100%{ transform: rotate(360deg); width: 6.250em; height: 6.250em; }
}

@keyframes dotsY {
  66% { opacity: .1; width: 2.4em; }
  77%{ opacity: 1; width: 0; }
}
@keyframes dotsX {
  66% { opacity: .1; height: 2.4em;}
  77%{ opacity: 1; height: 0; }
}

@keyframes flash {
  33% { opacity: 0; border-radius: 0%; }
  55%{ opacity: .6; border-radius: 100%; }
  66%{ opacity: 0; }
}

.content {
    display: none;
}

/*** END OF PRELOADER STYLES ***/


/****** NAVIGATION STYLES ****/


.search-container{
    display: flex;
    place-items: center;
    width: 500px;
    height: 40px;
    border: 2px solid orange;
}
.search-input{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 20px;
}
.cart-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    border-radius: 50%;
    padding: 6px 6px;
    font-size: 9px;
}
.notification-container{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.notification-count{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    border-radius: 50%;
    padding: 6px 6px;
    font-size: 9px;
}
.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
#menu{
  background-color: #fff;
  z-index: 10;
}
.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position:absolute;
  right: 20px;

}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle{
  transform: translateY(7px);
}
.hamburger-bottom{
  transform: translateY(14px);
}
.open{
  transform:rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
  display: none;
}
.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/***  END OF NAVIGATION ***/

/*** HERO SECTIONS ***/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination{
  color: orange;
}

/*** END OF HERO SECTIONS ***/

/*** FLASH SALES ***/


.flash-img{
  width: 300px;
  height: 200px;
  display: flex;
  margin: 0px auto;
}
.flash-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flash-img2{
  width: 300px;
  height: 200px;
  display: flex;
  margin: 0px auto;
}
.flash-img2 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 480px) {
  .flash-img, .flash-img2{
    width: 120px;
    height: 80px;
  }
}

/* END OF FLASH SALES */

/* TOP SELLERS */
.brand-carousel {
  margin-top: 30px;
  }
